<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/answer-question.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="answer-question-panel">
                <form id="answer-question-form" action=<%="/question/" + question.id + "/answer/" + touser %>
                    method="post">
                    <h2 class="text-cut">
                        <%= question.question %>
                    </h2>
                    <div>
                        <% answers.forEach(answer => { %>
                        <label>
                            <input type='radio' name='answer' value='<%= answer.id %>' class="button" required>
                            <div class="radio-animation">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                            <p>
                                <%= answer.answer %>
                            </p>
                        </label>
                        <% }); %>
                    </div>
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
        <%- include("footer") %>
    </div>
</body>

</html>