<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/choose-question.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <div class="friend-question-panel">
                <h2 class="text-cut">
                    <%= question.question %>
                </h2>
                <ul value="There is no results.">
                    <% if (selfAnswer) { %>
                    <li>
                        <div class="friend-question">
                            <img class="img-height-fill" src=<%="/img/user/" + user.id + "/avatar"%>>
                            <a class="text-cut" href=<%="/friend/" + user.id%>><%= user.username %></a>
                            <h3 class="respuesta text-cut">
                                <%= selfAnswer.answer %>
                            </h3>
                            <a class="button" href=<%="/question/" + question.id + "/answer/" + user.id %>>Editar
                                respuesta</a>
                        </div>
                    </li>
                    <% } else { %>
                    <li>
                        <div class="friend-question">
                            <img class="img-height-fill" src=<%="/img/user/" + user.id + "/avatar"%>>
                            <a class="text-cut" href=<%="/friend/" + user.id%>><%= user.username %></a>
                            <a class="button" href=<%="/question/" + question.id + "/answer/" + user.id %>>Contestar</a>
                        </div>
                    </li>
                    <% } %>
                    <div class="separator">
                        <span>Los siguientes amigos han contestado a esta pregunta</span>
                    </div>
                    <% friendAnswers.forEach(friendAnswer => { %>
                    <% if (friendAnswer.state == "guess") { %>
                    <li>
                        <div class="friend-question">
                            <img class="img-height-fill" src=<%="/img/user/" + friendAnswer.userid + "/avatar"%>>
                            <a class="text-cut" href=<%="/friend/" + friendAnswer.userid%>><%= friendAnswer.username %></a>
                            <a class="button" href=<%="/question/" + question.id + "/answer/" + friendAnswer.userid %>>Adivinar</a>
                        </div>
                    </li>
                    <% } %>
                    <% if (friendAnswer.state == "correct") { %>
                    <li>
                        <div class="friend-question">
                            <img class="img-height-fill" src=<%="/img/user/" + friendAnswer.userid + "/avatar"%>>
                            <a class="text-cut" href=<%="/friend/" + friendAnswer.userid%>><%= friendAnswer.username %></a>
                            <h3 class="respuesta text-cut">
                                <%= friendAnswer.answer %>
                            </h3>
                            <div class="state-success">Has acertado</div>
                        </div>
                    </li>
                    <% } %>
                    <% if (friendAnswer.state == "wrong") { %>
                    <li>
                        <div class="friend-question">
                            <img class="img-height-fill" src=<%="/img/user/" + friendAnswer.userid + "/avatar"%>>
                            <a class="text-cut" href=<%="/friend/" + friendAnswer.userid%>><%= friendAnswer.username %></a>
                            <h3 class="respuesta text-cut">
                                <%= friendAnswer.answer %>
                            </h3>
                            <div class="state-error">Has fallado</div>
                        </div>
                    </li>
                    <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>