<!DOCTYPE html>
<html lang="es">

<head>
    <title>Error 404</title>
    <meta charset="utf-8" />
    <link rel="icon" href="../resources/icon/logo.png" />
    <link rel="stylesheet" href="../css/utils.css" />
    <link rel="stylesheet" href="../css/error.css" />
</head>

<body>
    <div class="container">
        <div class="main">
            <div class="content">
                <h1>404</h1>
                <p>
                    <%= url %>
                </p>
                <h2><%= text.pageNotFound %></h2>
                <h2><%= text.stayAndPlay %></h2>
                <h2>:)</h2>
                <a href=<%= redirection.url %> class="button"><%= redirection.name %></a>
            </div>
            <div class="game">
                <link rel="stylesheet" href="../css/casino.css" />
                <div class="perspective">
                    <input class="toggle" id="btn-spin" type="checkbox">
                    <label class="btn" for="btn-spin"></label>
                    <div class="wrapper">
                        <div class="slot">
                            <div class="group">
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                            </div>
                            <div class="group">
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                            </div>
                        </div>
                        <div class="slot">
                            <div class="group">
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                            </div>
                            <div class="group">
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                            </div>
                        </div>
                        <div class="slot">
                            <div class="group">
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                            </div>
                            <div class="group">
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                                <div class="figure"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>