<!DOCTYPE html>
<html lang="es">

<head>
    <title>Facebluff</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/resources/icon/logo.png" />
    <link rel="stylesheet" href="/css/utils.css" />
    <link rel="stylesheet" href="/css/profile.css" />
</head>

<body>
    <div class="container">
        <%- include("header") %>
        <div class="main">
            <input class="button" type="checkbox">
            <div class="profile">
                <div class="profile-header">
                    <%if(currentUser.img){%>
                    <img src=<%="/img/user/" + currentUser.id + "/avatar" %> class="round">
                    <%}else{%>
                    <img src="../resources/img/avatar.png" class="round">
                    <%}%>
                    <div class="info-user">
                        <h2>
                            <%= currentUser.username %>
                        </h2>
                        <p>
                            <%= currentUser.birthdate %> a침os</p>
                        <p>
                            <%= currentUser.score %> puntos</p>
                    </div>
                    <%if(currentUser.id === user.id){%>
                    <a class="modify button" href="/profile/modify"> <img class="img-height-fill" src="../resources/icon/edit-icon-white.png"></a>
                    <%}%>
                </div>
                <div class="profile-footer">
                    <input type="checkbox" id="check-friends" class="button" value="amigos">
                    <input type="checkbox" id="check-questions" class="button" value="preguntas">
                    <input type="checkbox" id="check-answers" class="button" value="respuestas">
                    <input type="checkbox" id="check-description" class="button" value="descripci칩n">
                    <div class="info-panel" id="friends-panel">
                        <div class="info-panel-header">
                            <h1>amigos</h1>
                        </div>
                        <div class="info-panel-footer">
                            <h1>
                                <%=friends%>
                            </h1>
                        </div>
                    </div>
                    <div class="info-panel" id="questions-panel">
                        <div class="info-panel-header">
                            <h1>preguntas</h1>
                        </div>
                        <div class="info-panel-footer">
                            <h1>
                                <%=questions%>
                            </h1>
                        </div>
                    </div>
                    <div class="info-panel" id="answers-panel">
                        <div class="info-panel-header">
                            <h1>respuestas</h1>
                        </div>
                        <div class="info-panel-footer">
                            <h1>
                                <%=questionsanswered%>
                            </h1>
                        </div>
                    </div>
                    <div class="info-panel" id="description-panel">
                        <div class="info-panel-header">
                            <h1>descripci칩n</h1>
                        </div>
                        <div class="info-panel-footer">
                            <h3>
                                <%=currentUser.description%>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="row">
                    <% story.forEach(element => {%>
                    <div class="story">
                        <img class="img-height-fill" src=<%="/img/user/" + currentUser.id + "/story/" + element.id %>/>
                        <p>
                            <%= element.description %>
                        </p>
                    </div>
                    <% }); %>
                </div>
                <% if (currentUser.id == user.id) {%>
                    <form action="/img/story" method="post" enctype="multipart/form-data">
                        <input type="file" name="story" id="inputfile" multiple required />
                        <input type="text" placeholder="Descripci칩n" name="description">
                        <input type="submit" value="Subir" class="button">
                    </form>
                <% } %>
            </div>
        </div>
        <%- include("footer") %>
</body>

</html>